# Introduction to Scikit-Learn Library

This notebook demonstrates the most useful functions and the the most beautiful functions of the scikit learn library.

0. An end-to-end scikit-learn workflow.
1. Getting the data ready.
2. Choose the right estimator/algorithm.
3. Fit the model/algorithm and use it to make predictions on our data.
4. Evaluating a model.
5. Improve a model.
6. Save and load a trained model.
7. Putting it all together.

## 0. An end-to-end scikit-learn workflow

In [1]:
what_were_covering=[
    "0. An end-to=end scikit learn workflow",
    "1. Getting the data ready",
    "2. Choose the right estimator/algorithm for our problems",
    "3. Fit the model/algorithm and use it to make predictions",
    "4. Evaluating the model",
    "5. Improve a model",
    "6. Save and load the trained model",
    "7. Putting it all together!"
]

In [2]:
import warnings
warnings.filterwarnings("default")

In [3]:
#0. Get the data ready
import pandas as pd
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
#1. Create X (Features matrix)

X=heart_disease.drop("target", axis=1);

#Create y (labels)

y=heart_disease["target"]

In [5]:
#2. Choose the right model and hyperparameters 
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)

# We keep the default params
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
150,66,1,0,160,228,0,0,138,0,2.3,2,0,1
179,57,1,0,150,276,0,0,112,1,0.6,1,1,1
243,57,1,0,152,274,0,1,88,1,1.2,1,1,3
131,49,0,1,134,271,0,1,162,0,0.0,1,0,2
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
95,53,1,0,142,226,0,0,111,1,0.0,2,0,3
114,55,1,1,130,262,0,1,155,0,0.0,2,0,2
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0
253,67,1,0,100,299,0,0,125,1,0.9,1,2,2

In [7]:
import sklearn
sklearn.show_versions()

C:\Users\Public\miniconda\conda_sample_project_1\env\lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

System:
    python: 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\Public\miniconda\conda_sample_project_1\env\python.exe
   machine: Windows-10-10.0.22000-SP0

Python dependencies:
          pip: 22.1.2
   setuptools: 61.2.0
      sklearn: 1.0.2
        numpy: 1.22.3
        scipy: 1.7.3
       Cython: None
       pandas: 1.4.3
   matplotlib: 3.5.1
       joblib: 1.1.0
threadpoolctl: 2.2.0

Built with OpenMP: True

In [8]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
191,58,1,0,128,216,0,0,131,1,2.2,1,3,3
177,64,1,2,140,335,0,1,158,0,0.0,2,0,2
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2
125,34,0,1,118,210,0,1,192,0,0.7,2,0,2
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1

In [9]:
clf.fit(X_train, y_train);

In [10]:
#Make a prediction
y_preds=clf.predict(X_test)
y_preds

array([0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1], dtype=int64)

In [11]:
y_test

191    0
177    0
164    1
38     1
202    0
      ..
17     1
125    1
291    0
122    1
0      1
Name: target, Length: 61, dtype: int64

In [12]:
#4 Evaluate the model

clf.score(X_train,y_train)

1.0

In [13]:
clf.score(X_test, y_test)

0.7540983606557377

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report (y_test,y_preds))

              precision    recall  f1-score   support

           0       0.72      0.75      0.74        28
           1       0.78      0.76      0.77        33

    accuracy                           0.75        61
   macro avg       0.75      0.75      0.75        61
weighted avg       0.76      0.75      0.75        61

In [15]:
confusion_matrix(y_test, y_preds)

array([[21,  7],
       [ 8, 25]], dtype=int64)

In [16]:
accuracy_score(y_test, y_preds)

0.7540983606557377

In [17]:
#5. Improve the accuracy of the model 

# Try for different amount of n_estimators
import numpy as np
np.random.seed(42)
for i in range (10,100,10):
    print(f"Trying model with {i} estimators")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,y_test)*100:.2f}%")
    print(" ")

Trying model with 10 estimators
Model accuracy on test set: 72.13%

Trying model with 20 estimators
Model accuracy on test set: 77.05%

Trying model with 30 estimators
Model accuracy on test set: 78.69%

Trying model with 40 estimators
Model accuracy on test set: 73.77%

Trying model with 50 estimators
Model accuracy on test set: 77.05%

Trying model with 60 estimators
Model accuracy on test set: 77.05%

Trying model with 70 estimators
Model accuracy on test set: 78.69%

Trying model with 80 estimators
Model accuracy on test set: 77.05%

Trying model with 90 estimators
Model accuracy on test set: 77.05%

In [18]:
#6. Save and Load a model

import pickle
pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

C:\Users\NIKHIL PATIL\AppData\Local\Temp\ipykernel_16156\629737573.py:4: ResourceWarning: unclosed file <_io.BufferedWriter name='random_forest_model_1.pkl'>
  pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))
ResourceWarning: Enable tracemalloc to get the object allocation traceback

In [19]:
loaded_model=pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

C:\Users\NIKHIL PATIL\AppData\Local\Temp\ipykernel_16156\3189227082.py:1: ResourceWarning: unclosed file <_io.BufferedReader name='random_forest_model_1.pkl'>
  loaded_model=pickle.load(open("random_forest_model_1.pkl", "rb"))
ResourceWarning: Enable tracemalloc to get the object allocation traceback

0.7704918032786885

In [20]:
what_were_covering

['0. An end-to=end scikit learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predictions',
 '4. Evaluating the model',
 '5. Improve a model',
 '6. Save and load the trained model',
 '7. Putting it all together!']

In [21]:
#Standard Imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## 1. Getting our data ready to use with Scikit learn library 

Three main things we have to do:

    1. Split the data into features and labels (Usually "X" and "y").
    2. Filling also called as imputing or disregardig the missing values. 
    3. Converting non-numerical values to numerical values also called as feature encoding.

In [22]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [23]:
X=heart_disease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [24]:
y=heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [25]:
# Split the data into training and test sets

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [26]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [27]:
X_train.size, X_test.size, y_train.size, y_test.size

(3146, 793, 242, 61)

In [28]:
car_sales=pd.read_csv("car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [29]:
len(car_sales)

1000

In [30]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [31]:
car_sales.Doors.value_counts()

4    856
5     79
3     65
Name: Doors, dtype: int64

In [32]:
car_sales["Colour"].value_counts()

White    407
Blue     321
Black     99
Red       94
Green     79
Name: Colour, dtype: int64

In [33]:
car_sales.Make.value_counts()

Toyota    398
Honda     304
Nissan    198
BMW       100
Name: Make, dtype: int64

In [34]:
X=car_sales.drop("Price", axis=1)
y=car_sales["Price"]

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2)

In [35]:
X_train.head()

       Make Colour  Odometer (KM)  Doors
303  Toyota  White         134862      4
910  Nissan  White          40598      4
405     BMW   Blue         142189      3
432  Toyota  White         149989      4
43   Toyota   Blue         141617      4

In [36]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: could not convert string to float: 'Toyota'

In [37]:
# Turn the categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=["Make", "Colour", "Doors"]
one_hot=OneHotEncoder()
transformer=ColumnTransformer([("one_hot",one_hot, categorical_features)], remainder="passthrough")
transformed_X=transformer.fit_transform(X)
transformed_X[:5]

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 8.47140e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 1.54365e+05],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 1.81577e+05]])

In [ ]:
car_sales.head()

In [ ]:
pd.DataFrame(transformed_X).head()

In [ ]:
dummies= pd.get_dummies(car_sales[["Make","Colour", "Doors"]])
dummies

In [ ]:
np.random.seed(42)
X_train, X_test, y_train, y_test= train_test_split(transformed_X, y, test_size=0.2)
model.fit(X_train, y_train)

In [ ]:
model.score(X_test, y_test)

### What if Data is Missing from some boxes:
1. Fill them with some random value, which is also called as imputation.
2. Remove the data samples with empty data.

In [ ]:
car_sales_missing=pd.read_csv("car-sales-extended-missing-data.csv")
car_sales_missing.head()

In [ ]:
# Create a new X
X= car_sales_missing.drop("Price", axis=1)
y=car_sales.Price

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
# Let's try and convert our data to numbers
# Turn the categories in to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=["Make","Colour", "Doors"]

one_hot=OneHotEncoder()
transformer=ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")
transformed_X=transformer.fit_transform(X);
transformed_X

#### Option 1:Fill the missing data with pandas

In [ ]:
# Fill the Make column
car_sales_missing["Make"].fillna("missing",inplace=True)


#Fill the colour column
car_sales_missing["Colour"].fillna("missing", inplace=True)

#Fill the Odometer column with the mean odometer values
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace=True)

# Fill the Doors column with value 4
car_sales_missing["Doors"].fillna(4, inplace=True)
car_sales_missing.head()

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
# Remove Rows with missing price value
car_sales_missing.dropna(inplace=True)

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
len(car_sales_missing)

In [ ]:
X=car_sales_missing.drop("Price", axis=1)
y=car_sales_missing["Price"]

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=["Make","Colour", "Doors"]

one_hot=OneHotEncoder()
transformer=ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")
transformed_X=transformer.fit_transform(car_sales_missing);
transformed_X

#### Option 2. Fill missing data with SciKit Learn Library

In [ ]:
car_sales_missing=pd.read_csv("car-sales-extended-missing-data.csv")

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
car_sales_missing.dropna(subset=["Price"], inplace=True)
car_sales_missing.isna().sum()

In [ ]:
X=car_sales_missing.drop("Price", axis=1);
y=car_sales_missing["Price"]

In [ ]:
# Fill missing values with Scikit-Learn

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill Categorical values with "missing" and numerical values with means. 
cat_imputer=SimpleImputer(strategy="constant", fill_value="missing")
door_imputer=SimpleImputer(strategy="constant", fill_value=4)
num_imputer=SimpleImputer(strategy="mean")

# Define Columns
cat_features=["Make", "Colour"]
door_features=["Doors"]
num_features=["Odometer (KM)"]

# Create an imputer (something that will fill the missing data)
imputer=ColumnTransformer([("cat_imputer",cat_imputer,cat_features),
                           ("door_imputer",door_imputer, door_features),
                           ("num_imputer", num_imputer, num_features)])
# Transform the data 
filled_X=imputer.fit_transform(X)
filled_X

In [ ]:
car_sales_filled=pd.DataFrame(filled_X,columns=["Make","Colours","Doors","Odometer (KM)"])
car_sales_filled.head()

In [ ]:
car_sales_filled.isna().sum()

In [ ]:


from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
categorical_features=["Make","Colours","Doors"]
one_hot=OneHotEncoder()
transformer=ColumnTransformer([("one_hot",
                                one_hot,
                                categorical_features)], 
                                remainder="passthrough")

transformed_X=transformer.fit_transform(car_sales_filled)
transformed_X

In [ ]:
#Now we've got our data as number and no missing value exists. 
#Further let's fit a model

np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

model=RandomForestRegressor();
model.fit(X_train, y_train)
model.score(X_test, y_test)

## 2. Choosing the right estimator/algorithm for your problems
Some things to note:
1. Sklearn refers to machine learning models, algorithms as estimators
2.Classification problem: predicting a category (heart-disease or not?)
    Sometimes you will see "clf" used as a short-form for classification estimator.
3. Regression problem: deals with predicting a number (price of a car)

##### Let's use the California Housing Dataset : https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html

In [ ]:
from sklearn.datasets import fetch_california_housing

housing=fetch_california_housing()
housing

In [ ]:
housing_df=pd.DataFrame(housing["data"], columns=housing["feature_names"])
housing_df

In [ ]:
housing_df["MedHouseVal"]=housing["target"]
housing_df

In [ ]:
housing_df=housing_df.drop("MedHouseVal", axis=1)
housing_df.head()

In [ ]:
#Import algorithm
from sklearn.linear_model import Ridge

#Setup the random seed
np.random.seed(42)

#Create the data
X=housing_df.drop("target",axis=1)
y=housing_df["target"]

#Split into trrain and test sections

X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

#Instantiate and fit the model on the training set

model=Ridge()
model.fit(X_train,y_train)

#Check the score of the model on the test_set

model.score(X_test, y_test)

In [ ]:
#Import the algorthim
from sklearn.ensemble import RandomForestClassifier
#Setup the random seed
np.random.seed(42)

#Create the data
X=housing_df.drop("target", axis=1)
y=housing_df["target"]

#Split the data into training and test sets 
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

#Instantitate and fit the model (on the training set)
model=RandomForestRegressor()
model.fit(X_train, y_train)

#testing the trained model on our test set
model.score(X_test,y_test)

### 2.2 Picking a machine learning model for a classification model

In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

heart_disease=pd.read_csv("heart-disease.csv")
heart_disease.head()

In [ ]:
len(heart_disease)

Consulting the scikit learn map and it says that we must use `SVC Linear` Model

In [ ]:
# Import the LinearSVC estimator class
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split

# Setup the random seed
np.random.seed(42)

#Create the data 
X=heart_disease.drop("target", axis=1)
y=heart_disease["target"]

# Split the data into train and test sets

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

#Instantiate and fit the model on the given data set
clf=LinearSVC()
clf.fit(X_train, y_train)

#Test the data on the test sets given

clf.score(X_test, y_test)

In [ ]:
heart_disease["target"].value_counts()

In [ ]:
# Import the RandomForestClassifier estimator class
from sklearn.ensemble import RandomForestClassifier

# Setup the random seed
np.random.seed(42)

#Create the data 
X=heart_disease.drop("target", axis=1)
y=heart_disease["target"]

# Split the data into train and test sets

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

#Instantiate and fit the model on the given data set
clf=RandomForestClassifier()
clf.fit(X_train, y_train)

#Test the data on the test sets given

clf.score(X_test, y_test)

In [ ]:
what_were_covering

## 3.Fill the model/algorithm on our data and use it to make predictions
### 3.1 Fitting the model to the data

In [ ]:
#Import the required model
from sklearn.ensemble import RandomForestClassifier

#Setup the random seed
np.random.seed(42)

#Defining our data
X=heart_disease.drop("target", axis=1)
y=heart_disease["target"]

#Split the data into training and testing sections
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

#Define the model that we want to use
clf=RandomForestClassifier()

#Fit the model to out data
clf.fit(X_train,y_train)

#Test the model on the test data sets
clf.score(X_test, y_test)

### 3.2 Making a predition with the data and model

2 ways to make a prediction are as follows
1) predict()
2)predict_proba()

In [ ]:
X_test.shape

In [ ]:
clf.predict(X_test)

In [ ]:
np.array(y_test)

In [ ]:
y_preds=clf.predict(X_test)
np.mean(y_preds==y_test)

In [ ]:
clf.score(X_test, y_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_preds)

Make predictions with `predict_proba()`

In [ ]:
#predict_proba() returns probabilities of a classification label
clf.predict_proba(X_test[:5])

In [ ]:
#Lets predict on the same data
clf.predict(X_test[:5])

## Using our Regression Model to Make Predictions

In [ ]:
from sklearn.datasets import fetch_california_housing

housing=fetch_california_housing()
housing

In [ ]:
housing_df=pd.DataFrame(housing["data"], columns=housing["feature_names"])
housing_df

In [ ]:
housing_df["target"]=housing["target"]
housing_df

In [ ]:
housing_df.head()

In [ ]:
#Import algorithm
from sklearn.ensemble import RandomForestRegressor

#Setup the random seed
np.random.seed(42)

#Create the data
X=housing_df.drop("target",axis=1)
y=housing_df["target"]

#Split into trrain and test sections

X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

#Instantiate and fit the model on the training set

model=RandomForestRegressor()
model.fit(X_train,y_train)

#Check the score of the model on the test_set

model.score(X_test, y_test)

In [ ]:
model.predict(X_test)

In [ ]:
np.array(y_test)

In [ ]:
y_preds=model.predict(X_test)

In [ ]:
np.array(y_preds)

In [ ]:
np.array(y_test)

In [ ]:
len(y_test)

In [ ]:
len(y_preds)

In [ ]:
# Compare the predictions to the actual values
y_preds[:10]

In [ ]:
np.array(y_test[:10])

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_preds)

# Evaluating a machine-learning model

There are generally 3 ways to evaluating a model:
    1. Estimator's built in "score()" method.
    2. The "scoring" parameter
    3. Problem-specific metric functions

In [ ]:
# Import the required model 
from sklearn.ensemble import RandomForestClassifier

# Import the spliiter
from sklearn.model_selection import train_test_split
#setting the random seed
np.random.seed(42)

heart_disease=pd.read_csv("heart-disease.csv")


#Set the values of X and y
X=heart_disease.drop("target", axis=1);
y=heart_disease["target"]

#Set the train and test split
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2)

clf=RandomForestClassifier();
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

Using the `score()` method on our regression problem

In [ ]:
from sklearn.ensemble import RandomForestRegressor

X=housing_df.drop("target", axis=1)
y=housing_df["target"]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

model=RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

In [ ]:
y_test.mean()

In [ ]:
from sklearn.model_selection import cross_val_score

from sklearn.ensemble import RandomForestClassifier

X=heart_disease.drop("target",axis=1)
y=heart_disease["target"]

X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.2)

clf=RandomForestClassifier()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

In [ ]:
cross_val_score(clf,X,y)
cross_val_score()

In [ ]:
clf_single_score=clf.score(X_test, y_test)
clf_cross_val_score=np.mean(cross_val_score(clf,X,y))
clf_single_score,clf_cross_val_score

### 4.2.1 Classification Model Evaluation Metrics
1. Accuracy
2. Area Under the ROC curve
3. Confusion Matrix
4. Classification Reports

**Accuracy**

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)

X=heart_disease.drop("target",axis=1)
y=heart_disease["target"]

clf=RandomForestClassifier()

cross_val_score=cross_val_score(clf,X,y,cv=5)
cross_val_score

In [ ]:
np.mean(cross_val_score)

In [ ]:
print(f"Heart Disease Classifier Works with the cross-validated accuracy of {np.mean(cross_val_score)*100:.2f}%")

**Area Under the ROC Curve**

** A ROC curve is the measure of a model and its truth positive rate against the false positive rate:

* True Positive:
    Model predicts 1 when truth is 1.
* False Positive:
    Model predicts 1 when truth is 0
* True Negative:
    Model predicts 0 when truth is 0.
* False Positive:
    Model predicts 0 when truth is 1.

In [ ]:
# Create the required X_train, X_test, .....etc

X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.2)

In [ ]:
#Importing the required metrics library
from sklearn.metrics import roc_curve

#fit the required model on our data
clf.fit(X_train, y_train)

In [ ]:
y_probs=clf.predict_proba(X_test)
y_probs[:10], len(y_probs)

In [ ]:
y_probs_positive=y_probs[:,1]
y_probs_positive[:10], len(y_probs_positive)

In [ ]:
fpr, tpr, threshholds=roc_curve(y_test,y_probs_positive)

In [ ]:
fpr

* Create a function for plotting the ROC Curve

In [ ]:
import matplotlib.pyplot as plt
def plot_roc_curve(fpr, tpr):
    """ Plots a ROC Curve for the Given False Positive Rate and True Positive Rate of a model"""
    #Plot the roc curve
    plt.plot(fpr, tpr, color="orange", label="ROC")
    #Plot the line with no predictive power(baseline)
    plt.plot([0,1],[0,1], color="darkblue", linestyle="--", label="Guessing")
    #Customize the plot
    plt.xlabel("False positive Rate(fpr)")
    plt.ylabel("True positive Rate(tpr)")
    plt.title("Reciever Operating Characteristics (ROC) Curve")
    plt.legend()
    plt.show()
    
plot_roc_curve(fpr,tpr)

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_probs_positive)

In [ ]:
# Plotting a perfect ROC curve and AUC score

fpr, tpr, thresholds=roc_curve(y_test, y_test)
plot_roc_curve(fpr, tpr)

In [ ]:
# Perfect AUC Score
roc_auc_score(y_test, y_test)

**Confusion Matrix**

A confusion matrix is a quickway to compare the labels a model predicts and the actual labels it was supposed to predict. In essence, giving you an idea of where the model is getting confused.

In [ ]:
from sklearn.metrics import confusion_matrix

y_preds=clf.predict(X_test)
confusion_matrix(y_test, y_preds)

In [ ]:
# Visualize confusion matrix with pd.crosstab()

pd.crosstab(y_test, y_preds, rownames=["Actual Labels"], colnames=["Predicted Labels"])

In [ ]:
import sys
!conda install --yes --prefix {sys.prefix} seaborn

In [ ]:
# Make a confusion matrix more visual with seaborns visualization library

import seaborn as sns

# Set the font scale

sns.set(font_scale=1.5)

#Create a confusion_matrix

conf_matrix=confusion_matrix(y_test, y_preds)

#Plot is using seaborn's heatmap
sns.heatmap(conf_matrix)

In [ ]:
from sklearn.metrics import confusion_matrix

y_preds=clf.predict(X_test)
confusion_matrix(y_test, y_preds)

# Visualize confusion matrix with pd.crosstab()

pd.crosstab(y_test, y_preds, rownames=["Actual Labels"], colnames=["Predicted Labels"])

In [ ]:
import sklearn
sklearn.__version__

In [ ]:
clf

In [ ]:
from sklearn.metrics import ConfusionMatrixDisplay

ConfusionMatrixDisplay.from_estimator(estimator=clf, X=X, y=y)

In [ ]:
ConfusionMatrixDisplay.from_predictions(y_true=y_test,y_pred= y_preds)

**Classification Report**

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_preds))

In [ ]:
disease_true=np.zeros(10000)
disease_true[0]=1

disease_preds=np.zeros(10000)
pd.DataFrame(classification_report(disease_true, disease_preds, output_dict=True))

### 4.2.2 Evaluating a Regression Model

In [40]:
from sklearn.datasets import fetch_california_housing

housing=fetch_california_housing()

housing_df=pd.DataFrame(housing["data"], columns=housing["feature_names"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [41]:
housing_df["target"]=housing["target"]
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [42]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

***Evaluation of a regression model using R2 Method***

In [53]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

np.random.seed(42)

X=housing_df.drop("target", axis=1)
y=housing_df["target"]

X_train, X_test, y_train, y_test = train_test_split(X, y)

model=RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8064162802437568

In [55]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [56]:
y_test.mean()

2.0631859147286704

In [57]:
from sklearn.metrics import r2_score

y_test_mean=np.full(len(y_test), y_test.mean())
y_test_mean

array([2.06318591, 2.06318591, 2.06318591, ..., 2.06318591, 2.06318591,
       2.06318591])

In [58]:
r2_score(y_true=y_test, y_pred=y_test_mean)

1.1102230246251565e-16

In [59]:
r2_score(y_true=y_test, y_pred=y_test)

1.0

***Evaluation of a regression model with mean absolute error***

In [60]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

np.random.seed(42)

X=housing_df.drop("target", axis=1)
y=housing_df["target"]

X_train, X_test, y_train, y_test = train_test_split(X, y)
len(X_train)
model=RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8064162802437568

In [70]:
y_preds=model.predict(X_test)
y_preds[:5], len(y_preds), len(X_train), len(y_test), len(y_train)

(array([0.49101  , 0.74017  , 4.8762069, 2.63051  , 2.31265  ]),
 5160,
 15480,
 5160,
 15480)

In [71]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y_true=y_test, y_pred=y_preds)

0.3288003433527133

In [74]:
df=pd.DataFrame(data={"actual_values":y_test,"predicted_values":y_preds})
df["differences"]= df["predicted_values"]-df["actual_values"]
df

       actual_values  predicted_values  differences
20046        0.47700          0.491010     0.014010
3024         0.45800          0.740170     0.282170
15663        5.00001          4.876207    -0.123803
20484        2.18600          2.630510     0.444510
9814         2.78000          2.312650    -0.467350
...              ...               ...          ...
5363         5.00001          4.565535    -0.434475
19755        0.63200          0.778230     0.146230
4885         1.17700          1.275410     0.098410
13043        2.63100          2.939211     0.308211
8583         4.81500          4.076491    -0.738509

[5160 rows x 3 columns]

In [75]:
np.abs(df["differences"]).mean()

0.32880034335271263

In [76]:
from sklearn.datasets import fetch_california_housing

housing=fetch_california_housing()

housing_df=pd.DataFrame(housing["data"], columns=housing["feature_names"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [77]:
housing_df["target"]=housing["target"]
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

**Evaluating the regression model using the mean squared error method**

In [80]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X=housing_df.drop("target", axis=1)
y=housing_df["target"]

X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.2)

model=RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.801891020387404

In [81]:
y_preds=model.predict(X_test)

In [82]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_true=y_test, y_pred=y_preds)

0.2579791311908462

In [83]:
df=pd.DataFrame(data={"actual_values":y_test,"predicted_values":y_preds})
df["differences"]= df["predicted_values"]-df["actual_values"]
df

       actual_values  predicted_values  differences
10921          1.641          1.628370    -0.012630
19572          0.995          1.435760     0.440760
6350           2.738          2.811970     0.073970
18025          2.342          2.734700     0.392700
12120          1.357          0.902160    -0.454840
...              ...               ...          ...
16229          0.874          1.339600     0.465600
18161          4.068          3.703973    -0.364027
7639           3.294          2.827150    -0.466850
358            2.791          2.037200    -0.753800
5115           1.363          1.397070     0.034070

[4128 rows x 3 columns]

In [84]:
df["squared_differences"]=np.square(df["differences"])
df.head()

       actual_values  predicted_values  differences  squared_differences
10921          1.641           1.62837     -0.01263             0.000160
19572          0.995           1.43576      0.44076             0.194269
6350           2.738           2.81197      0.07397             0.005472
18025          2.342           2.73470      0.39270             0.154213
12120          1.357           0.90216     -0.45484             0.206879

In [85]:
squared=np.square(df["differences"])
squared.mean()

0.2579791311908462

In [86]:
df_large_error=df.copy()
df_large_error.iloc[0]["squared_differences"]=16
df_large_error.head()

       actual_values  predicted_values  differences  squared_differences
10921          1.641           1.62837     -0.01263            16.000000
19572          0.995           1.43576      0.44076             0.194269
6350           2.738           2.81197      0.07397             0.005472
18025          2.342           2.73470      0.39270             0.154213
12120          1.357           0.90216     -0.45484             0.206879

In [87]:
# Calculate the MSE with the large error

df_large_error["squared_differences"].mean()

0.2618550615404343

In [89]:
df_large_error.iloc[1:100]=20
df_large_error.head()

       actual_values  predicted_values  differences  squared_differences
10921          1.641           1.62837     -0.01263                 16.0
19572         20.000          20.00000     20.00000                 20.0
6350          20.000          20.00000     20.00000                 20.0
18025         20.000          20.00000     20.00000                 20.0
12120         20.000          20.00000     20.00000                 20.0

In [90]:
df_large_error["squared_differences"].mean()

0.7336186994101154

***Evaluating a Model with Cross Validation and Scoring Parameters***

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

heart_disease=pd.read_csv("heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
from sklearn.model_selection import cross_val_score

from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)

X=heart_disease.drop("target", axis=1)
y=heart_disease["target"]

clf=RandomForestClassifier()

cv_acc=cross_val_score(clf,X,y,cv=5, scoring=None) #if "scoring=None", estimator's default scoring evaluation metric is used. (accuracy for classification model)

cv_acc

array([0.81967213, 0.90163934, 0.83606557, 0.78333333, 0.78333333])

In [4]:
print(f"The cross-validated-accuracy is: {np.mean(cv_acc)*100:.2f}%")

The cross-validated-accuracy is: 82.48%

In [5]:
#Cross-Validated Accuracy
cv_acc=cross_val_score(clf,X,y,cv=5, scoring="accuracy") #if "scoring=None", estimator's default scoring evaluation metric is used. (accuracy for classification model)

cv_acc

array([0.78688525, 0.86885246, 0.80327869, 0.78333333, 0.76666667])

In [6]:
print(f"The cross-validated-accuracy is: {np.mean(cv_acc)*100:.2f}%")

The cross-validated-accuracy is: 80.18%

In [10]:
#Precision
np.random.seed(42)
cv_precision=cross_val_score(clf,X,y,cv=5, scoring="precision")
print(f"The cross-validated-precision is: {np.mean(cv_precision):.2f}")

The cross-validated-precision is: 0.83

In [8]:
np.random.seed(42)
cv_precision=cross_val_score(clf,X,y,cv=5,scoring="precision")
cv_precision

array([0.82352941, 0.93548387, 0.84848485, 0.79411765, 0.76315789])

In [11]:
# Recall method
np.random.seed(42)
cv_recall=cross_val_score(clf,X,y,cv=5,scoring="recall")
cv_recall

array([0.84848485, 0.87878788, 0.84848485, 0.81818182, 0.87878788])

In [12]:
# Cross validated recall
print(f"The cross-validated-recall is :{np.mean(cv_recall):.2f}")

The cross-validated-recall is :0.85

Let's see the "scoring" parameter in usage for a regression problem

In [13]:
from sklearn.datasets import fetch_california_housing

housing=fetch_california_housing()

housing_df=pd.DataFrame(housing["data"], columns=housing["feature_names"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [14]:
housing_df["target"]=housing["target"]
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [16]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
X=housing_df.drop("target", axis=1)
y=housing_df["target"]

In [18]:
X_train, X_test, y_train, y_test=train_test_split(X,y)

In [24]:
model=RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [28]:
# Using the r2 cross_val_scoring metric
from sklearn.model_selection import cross_val_score
cv_r2=cross_val_score(model, X, y, cv=5, scoring="r2")
cv_r2

array([0.51162272, 0.70390889, 0.74253662, 0.6193292 , 0.68054861])

In [29]:
cv_r2.mean()

0.6515892077076297

In [36]:
# Using the mean squared error metric
cv_mse=cross_val_score(model, X, y, cv=5, scoring="neg_mean_squared_error")
np.mean(cv_mse)

-0.4291855930273867

In [37]:
# Using the mean absolute error metric
cv_mae =cross_val_score(model, X, y, cv=5, scoring="neg_mean_absolute_error")
np.mean(cv_mae)

-0.46347234093992257

In [49]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

X=heart_disease.drop("target", axis=1)
y=heart_disease["target"]

X_train, X_test, y_train, y_test = train_test_split(X,y)

clf=RandomForestClassifier()
clf.fit(X_train, y_train)

y_preds=clf.predict(X_test)

accuracy_score(y_true=y_test, y_pred=y_preds), precision_score(y_test,y_preds), recall_score(y_test, y_preds), f1_score(y_test, y_preds)
print(f"Accuracy :{accuracy_score(y_true=y_test, y_pred=y_preds)*100:.2f}")
print(f"Precision :{precision_score(y_true=y_test, y_pred=y_preds)*100:.2f}")
print(f"Recall :{recall_score(y_true=y_test, y_pred=y_preds)*100:.2f}")
print(f"f1 :{f1_score(y_true=y_test, y_pred=y_preds)*100:.2f}")

Accuracy :81.58
Precision :81.82
Recall :85.71
f1 :83.72

In [51]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split

np.random.seed(42)

X=housing_df.drop("target", axis=1)
y=housing_df["target"]

X_train, X_test, y_train, y_test = train_test_split(X,y)

model=RandomForestRegressor()
model.fit(X_train, y_train)

y_preds=model.predict(X_test)


r2_score(y_test, y_preds), mean_absolute_error(y_test, y_preds), mean_squared_error(y_test, y_preds)

(0.8064162802437568, 0.3288003433527133, 0.256153482797888)

## 5. Improving a model 

First predictions=Baseline Predictions
First model=Baseline Model

What can we do to improve a model?

1. From a data perspective:
* Could we collect more data?
* Could we improve our data?

2. From a model perspective:
* Could we use a better model?
* Could we improve our current moodel?

In [52]:
from sklearn.ensemble import RandomForestClassifier

clf= RandomForestClassifier()

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

* Of all the given hyperparameters we will adjust the following hyperparameters:
* `max_depth`
* `max_features`
* `min_samples_leaf`
* `min_samples_split`
* `n_estimators`

In [53]:
def evaluate_preds(y_true, y_preds):
    accuracy=accuracy_score(y_true, y_preds)
    precision=precision_score(y_true, y_preds)
    recall= recall_score(y_true, y_preds)
    f1=f1_score(y_true, y_preds)
    
    metric_dict={
        "accuracy":round(accuracy, 2),
        "precision": round(precision, 2),
        "recall":round(recall, 2),
        "f1":round(f1, 2)
    }
    
    print(f"Accuracy:{accuracy*100:.2f}%")
    print(f"Precision:{precision*100:.2f}%")
    print(f"Recall:{recall*100:.2f}%")
    print(f"F1 score:{f1*100:.2f}%")
    return metric_dict

In [57]:
np.random.seed(42)
# shuffling the data 

heart_disease_shuffled = heart_disease.sample(frac=1)

# Define X and y variables
X=heart_disease_shuffled.drop("target", axis=1)
y=heart_disease_shuffled["target"]

#Defininf the splitting variables
train_split = round(0.7 *len(heart_disease_shuffled))
valid_split=round(train_split+ 0.15* len(heart_disease_shuffled))

#Defining the splits 
X_train=X[:train_split]
y_train=y[:train_split]
X_valid=X[train_split:valid_split]
y_valid=y[train_split:valid_split]
X_test=X[valid_split:]
y_test=y[valid_split:]

(212, 45, 46)

In [63]:
clf=RandomForestClassifier()
clf.fit(X_train, y_train)

y_preds=clf.predict(X_valid)

baseline_metrics=evaluate_preds(y_valid, y_preds)

baseline_metrics

Accuracy:80.00%
Precision:80.77%
Recall:84.00%
F1 score:82.35%

{'accuracy': 0.8, 'precision': 0.81, 'recall': 0.84, 'f1': 0.82}

In [62]:
clf_2 = RandomForestClassifier(n_estimators=50)
clf_2.fit(X_train, y_train)

y_preds_2=clf_2.predict(X_valid)

baseline_metrics_2= evaluate_preds(y_valid, y_preds_2)
baseline_metrics_2

Accuracy:86.67%
Precision:85.19%
Recall:92.00%
F1 score:88.46%

{'accuracy': 0.87, 'precision': 0.85, 'recall': 0.92, 'f1': 0.88}

In [77]:
np.random.seed(42)
clf_3=RandomForestClassifier(n_estimators=50, max_depth=15)
clf_3.fit(X_train, y_train)

y_preds_3=clf_3.predict(X_valid)

baseline_metrics_3=evaluate_preds(y_valid, y_preds_3)
baseline_metrics_3

Accuracy:82.22%
Precision:81.48%
Recall:88.00%
F1 score:84.62%

{'accuracy': 0.82, 'precision': 0.81, 'recall': 0.88, 'f1': 0.85}

## Tuning the hyperparameters with the Randomized Search CV

In [80]:
from sklearn.model_selection import RandomizedSearchCV

# Create a grid

grid={"n_estimators":[10,100,200,500,1000,1200],
     "max_depth":[None, 5,10,20,30],
     "max_features":["auto", "sqrt"],
     "min_samples_split": [2,4,6],
     "min_samples_leaf": [1,2,4]}

np.random.seed(42)

# Create X and Y 
X=heart_disease.drop("target", axis=1)
y=heart_disease["target"]

#Create your train and test sets

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

#Instantiate the RandomForestClassifier

clf=RandomForestClassifier(n_jobs=1)

# Setup RandomizedCv

rs_clf=RandomizedSearchCV(estimator=clf,
                          param_distributions=grid,
                          n_iter=10, #Number of models we are expecting the system to try
                          cv=5,
                          verbose=2
                         )

# fit the randomizedSearchCV version of clf
rs_clf.fit(X_train, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=1200; total time=   2.1s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=1200; total time=   1.1s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=1200; total time=   1.2s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=1200; total time=   1.1s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=1200; total time=   1.1s
[CV] END max_depth=30, max_features=auto, min_samples_leaf=2, min_samples_split=4, n_estimators=100; total time=   0.1s
[CV] END max_depth=30, max_features=auto, min_samples_leaf=2, min_samples_split=4, n_estimators=100; total time=   0.0s
[CV] END max_depth=30, max_features=auto, min_samples_leaf=2, min_samples_split=4, n_estimators=100; total time=   0.0s
[CV] END max_depth=30, max_features=auto, min_samples_leaf=2, min_samples_split=4, n_estimators=100; total time=   0.0s
[CV] END max_depth=30, max_features=auto, min_samples_leaf=2, min_samples_split=4, n_estimators=100; total time=   0.0s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=200; total time=   0.1s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=200; total time=   0.2s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=200; total time=   0.2s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=200; total time=   0.1s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=200; total time=   0.1s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=6, n_estimators=100; total time=   0.1s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=6, n_estimators=100; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=6, n_estimators=100; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=6, n_estimators=100; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=6, n_estimators=100; total time=   0.0s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=10; total time=   0.0s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=10; total time=   0.0s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=10; total time=   0.0s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=10; total time=   0.0s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=10; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_leaf=2, min_samples_split=4, n_estimators=10; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_leaf=2, min_samples_split=4, n_estimators=10; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_leaf=2, min_samples_split=4, n_estimators=10; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_leaf=2, min_samples_split=4, n_estimators=10; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_leaf=2, min_samples_split=4, n_estimators=10; total time=   0.0s
[CV] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=500; total time=   0.4s
[CV] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=500; total time=   0.4s
[CV] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=500; total time=   0.4s
[CV] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=500; total time=   0.5s
[CV] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=500; total time=   0.5s
[CV] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=200; total time=   0.1s
[CV] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=200; total time=   0.1s
[CV] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=200; total time=   0.2s
[CV] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=200; total time=   0.2s
[CV] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=6, n_estimators=200; total time=   0.2s
[CV] END max_depth=10, max_features=auto, min_samples_leaf=4, min_samples_split=4, n_estimators=200; total time=   0.1s
[CV] END max_depth=10, max_features=auto, min_samples_leaf=4, min_samples_split=4, n_estimators=200; total time=   0.2s
[CV] END max_depth=10, max_features=auto, min_samples_leaf=4, min_samples_split=4, n_estimators=200; total time=   0.1s
[CV] END max_depth=10, max_features=auto, min_samples_leaf=4, min_samples_split=4, n_estimators=200; total time=   0.1s
[CV] END max_depth=10, max_features=auto, min_samples_leaf=4, min_samples_split=4, n_estimators=200; total time=   0.2s
[CV] END max_depth=20, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=1000; total time=   1.1s
[CV] END max_depth=20, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=1000; total time=   0.9s
[CV] END max_depth=20, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=1000; total time=   1.0s
[CV] END max_depth=20, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=1000; total time=   0.9s
[CV] END max_depth=20, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=1000; total time=   0.9s

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(n_jobs=1),
                   param_distributions={'max_depth': [None, 5, 10, 20, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 4, 6],
                                        'n_estimators': [10, 100, 200, 500,
                                                         1000, 1200]},
                   verbose=2)

rs_clf.best_params_

In [81]:
rs_clf.best_params_

{'n_estimators': 200,
 'min_samples_split': 4,
 'min_samples_leaf': 4,
 'max_features': 'auto',
 'max_depth': 10}

In [84]:
# Make predictions with the best hyperparameters

rs_y_preds=rs_clf.predict(X_test)
# Evaluates the predictions

rs_metrics=evaluate_preds(y_test, rs_y_preds)
rs_metrics

Accuracy:86.89%
Precision:85.29%
Recall:90.62%
F1 score:87.88%

{'accuracy': 0.87, 'precision': 0.85, 'recall': 0.91, 'f1': 0.88}